data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep


models/pretrained/*
!models/pretrained/.gitkeep

models/checkpoints/*
!models/checkpoints/.gitkeep

# ==========================================
# Python 缓存和环境
# ==========================================
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env